body {
    background-color: #F9D976;
}


.main-bg {
    background-color:#F9D976;
}

.navbarText {
    font-size: 25px;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.author {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.masthead {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-delete {
    font-size: 90px;
    color: #E84610;
}

.masthead-text {
    color: black;
    position: relative;
    height: 50vh;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.post-link {
    color: black;
    text-align: center;
    margin-top: 1px;
    text-decoration: none;

}

.post-link:hover,
.page-link {
    color: #445261;
    text-decoration: none;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: black;
}

.btn-signup {
    background-color: lightgray;
    color:black;
    border: 2px solid BLUE
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: black;
    border: 2px solid blue
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
