{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}

<strong>
    <br/><br/>
    <div class="col text-center">
        <div class="form-group">
            <form class = "d-inline" action="{% url 'edit_profile' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-outline-secondary" type="Submit">{% trans "Edit Profile" %}</button>
            </form>
        </div>
    </div>
{% endblock %}